<app-generic-list [list]="movies">
    <div class="movies-container" content>

        <div *ngFor="let movie of movies" class="movie-container">
            <a [routerLink]="'movies/' + movie.id"> <img [src]="movie.poster" alt="poster"> </a>
            <p>
                <a [routerLink]="'movies/' + movie.id">
                    {{movie.title}}
                </a>
            </p>

            <app-authorize-view [role]="'admin'">
                <ng-container authorized>
                    <a mat-flat-button color="primay" [routerLink]="['/movies/edit', movie.id]">Edit</a>
                    <button mat-flat-button color="warn" (click)="showConfirmation(movie.id)">Delete</button>
                </ng-container>
            </app-authorize-view>

        </div>
    </div>
</app-generic-list>