<form [formGroup]="movieForm" (ngSubmit)="saveChanges()">
    <h4>Select the poster</h4>
    <app-input-image [urlCurrentImage]="model?.poster" (onImageSelected)="onImageSelected($event)"
        [imageWidth]="'250px'"></app-input-image>

    <div>
        <mat-checkbox formControlName="inTheaters">In Theaters</mat-checkbox>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Trailer</mat-label>
        <input matInput formControlName="trailer">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Rlease date</mat-label>
        <input matInput formControlName="releaseDate" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <h4>Summary</h4>
    <app-input-markdown [markdownContent]="model?.summary" [label]="'Summary'"
        (changeMarkdown)="onMarkdownChange($event)"></app-input-markdown>
    <mat-form-field appearance="outline">
        <mat-label for="name">Title:</mat-label>
        <input type="text" id="title" formControlName="title" matInput />
        <mat-error *ngIf="movieForm.invalid">{{getErrorMessageForTitle()}}</mat-error>
    </mat-form-field>

    <!-- Select Genres -->
    <h4>Select Gneres</h4>
    <app-multiple-selector [nonSelectedItems]="nonSelectedGenres"
        [selectedItems]="selectedGenres"></app-multiple-selector>

    <!-- Select Movie Theaters -->
    <h4>Select Movie Theaters</h4>
    <app-multiple-selector [nonSelectedItems]="nonSelectedMovieTheaters"
        [selectedItems]="selectedMovieTheaters"></app-multiple-selector>

    <!-- Select Movie Actors -->
    <h4>Movie Actors</h4>
    <app-actor-autocomplete [selectedActors]="selectedActors"></app-actor-autocomplete>
    <button mat-flat-button color="primary" [disabled]="movieForm.invalid" type="submit">Save Changes</button>
    <button mat-stroked-button type="button">Cancel</button>
</form>